Mod Folder.lnk
Workshop Mods.lnk
*.dds
RTW But Its Imperator Rome/data/terrain/campaign/imperial_campaign/albedos_winter/
RTW But Its Imperator Rome/data/terrain/campaign/imperial_campaign/heightmap/
RTW But Its Imperator Rome/data/terrain/aerial_map/tile_models/river_a/river_a.cas
RTW But Its Imperator Rome/data/terrain/campaign/imperial_campaign/albedos/
RTW But Its Imperator Rome/data/terrain/campaign/imperial_campaign/materials/
RTW But Its Imperator Rome/data/terrain/campaign/imperial_campaign/pieces/
Work in Progress/raw/
Work in Progress/Screenshots/
Work in Progress/QGIS/
RTW But Its Imperator Rome/data/terrain/campaign/imperial_campaign/frame/
RTW But Its Imperator Rome/data/terrain/campaign/imperial_campaign/coastline/
RTW But Its Imperator Rome/data/terrain/campaign/imperial_campaign/river_mesh.cas
RTW But Its Imperator Rome/data/terrain/battlefield/
RTW But Its Imperator Rome/data/world/maps/base/map.rwm
RTW But Its Imperator Rome/data/region_ethnicities_paste_into_descr_unit_variation.txt
