Work in Progress/raw/
Work in Progress/Screenshots/
Mod Folder.lnk
Workshop Mods.lnk
Imperatoris_Mundi/data/terrain/campaign/imperial_campaign/albedos_winter/
Imperatoris_Mundi/data/terrain/campaign/imperial_campaign/heightmap/
Imperatoris_Mundi/data/terrain/aerial_map/tile_models/river_a/river_a.cas
Imperatoris_Mundi/data/terrain/campaign/imperial_campaign/albedos/
Imperatoris_Mundi/data/terrain/campaign/imperial_campaign/materials/
Imperatoris_Mundi/data/terrain/campaign/imperial_campaign/pieces/
Work in Progress/QGIS/
Imperatoris_Mundi/data/terrain/campaign/imperial_campaign/frame/
Imperatoris_Mundi/data/terrain/campaign/imperial_campaign/coastline/
Imperatoris_Mundi/data/terrain/campaign/imperial_campaign/river_mesh.cas
Imperatoris_Mundi/data/terrain/battlefield/
Imperatoris_Mundi/data/world/maps/base/map.rwm
Imperatoris_Mundi/data/region_ethnicities_paste_into_descr_unit_variation.txt
Work in Progress/Tools/.~lock.Spreadsheet Tools.ods#
